# игнорировать все объектные файлы
*.o
*.out
*.hi
PolyMatrix

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi
